@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Young+Serif&display=swap');
@import "../pages/Layout/Layout.scss";
@import "../pages/Contact/Contact.scss";
@import "../components/Components.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Open Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

// creating a custom selection 
::selection {
    color: white;
    background-color: #282828;
}

.width-full {
    width: 100%;

}

// creating a custom scrollbar 
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #805AD5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.dropShadowImg {
    filter: drop-shadow('0px 0px 10px #f9c307');
}

#root>div:nth-child(2)>div.css-ca4rva>div>div>div.carousel.carousel-slider>ul>li {
    background-color: #3d3d3d;
}

#root>div:nth-child(2)>div.css-ca4rva>div>div>div.carousel.carousel-slider>ul>li.dot.selected {
    background-color: #2c2c2c;
}

#root>div:nth-child(2)>div.css-ca4rva>div>div>div.carousel.carousel-slider>button.control-arrow.control-next {
    background-color: #4f4f4f;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    position: absolute;
    opacity: 1;
}

#root>div:nth-child(2)>div.css-ca4rva>div>div>div.carousel.carousel-slider>button.control-arrow.control-prev {
    background-color: #4f4f4f;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    position: absolute;
    opacity: 1;
}

#root>div.css-ca4rva>div>div>div.carousel.carousel-slider>button.control-arrow:hover {
    background-color: #2c2c2c;
}


.hover-underline {
    &:hover {
        text-decoration: underline;
    }
}